.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo {
    width: 100px;
    height: 100px;
}

.Nav-list >ul {
  display: flex;
  list-style-type: none;

}
.Nav-list >ul >li {
    margin: 10px;
    padding: 10px;
    
}


.Res-card {
width: 250px;
margin: 20px;
padding: 5px;
border-radius: 10px;


}
.res-logo {
    width:100%;
    border-radius: 10px;
    height: 200px;
    background-size: contain;

}

.Res-card:hover {
cursor: pointer;
border:1px solid black;
border-radius: 10px;
}

.Res-container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}
.Filter-btn-Top {
    margin: 5px;
    cursor: pointer;
}
.search-container {
    margin: 5px;
}
.search-btn {
    cursor: pointer;
}
.Shimmer-Container {
    display: flex;
    flex-wrap: wrap;
    
}

.Shimmer-card {
    width: 250px;
    background-color: #f0f0f0;
    height: 350px;
    margin: 24px;
    border-radius: 10px;
}

.Nav-list > ul > li > .Login {
    padding: inherit; /* inherit padding from parent li */
    margin: inherit; /* inherit margin from parent li */
}
.Nav-list {
    margin: 20px;
}
.filter-search{
    display: flex;
}

.user-card-class {
    border: 1px solid black;
    margin: 5px;
}
.user-card{
    border: 1px solid black;
    margin: 5px;
}

.github-profile-container {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* make it circular */
   
    margin: 10px 0; /* add some margin */
    background-size: cover;
}
.github-profile {
    width: 100%;
    height: 100%;
    object-fit: cover; /* make the image cover the container */
}
